#sf-overlay { background-color: #000; }

#sf-container { -moz-box-shadow: 4px 4px 7px #ABABAB; background-color: #FEFEFE; border-color: -moz-use-text-color #AAAAAA #AAAAAA; border-right: 1px solid #AAAAAA; border-style: none solid solid; border-width: medium 1px 1px; font-family: Arial,Helvetica,sans-serif; width: 360px; text-align:left; }

#sf-container div, 
	#sf-container span, 
	#sf-container label 
		{ font: Arial,Liberation Sans,DejaVu Sans,sans-serif;  }
		
#sf-container, 
	#sf-container .simplemodal-data { background:#fff; }	
		
#sf-container #sf-header { padding: 5px; background: #aaa; color: #fff; font-size: 11px; line-height: 12px; }

#sf-container #sf-close { float: right; }
#sf-container #sf-close a { color: #fff; text-decoration: none; }
#sf-container #sf-close a:hover { text-decoration: underline; }

#sf-container #sf-content { padding:0 7px 5px 7px; overflow:hidden; }
#sf-container #sf-feedback { background-color: #F2F2F2; font-size: 11px; padding: 5px; color: #707070; }

#sf-container .sf-form-group { border-bottom: 1px solid #ccc; padding:0 0 5px 0; margin:5px 0; }
#sf-container form fieldset { margin-bottom:10px; padding: 10px 10px 5px 10px; border: 1px solid #dddddd; }
#sf-container form textarea { width:100%; height:80px; margin:3px 0 7px 0; padding:0; font:10px Inconsolata,monospace,sans-serif; border:1px solid #ccc; background: #eee; }
#sf-container form input { font:12px; margin:0 3px 0 0; padding: 0; }

#sf-container form label { font-size:10px; margin:0 10px 0 0; padding: 0; font-weight:bold; }
#sf-container .sf-show-more { float:right; color: #0077CC; text-decoration: none; font-size:10px; }
#sf-container .sf-show-more:hover { text-decoration: underline; }
#sf-container #sf-submit { float:right; border: 1px solid #888888; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold; margin: 3px; padding: 2px; }
#sf-container #sf-submit:hover { cursor: pointer; }
#sf-container select { font-size: 11px; border:1px solid #ccc; }